# Bazel directories
bazel-*

# Vim swap files
*.swp
*.swo
*~
.*.swp
.*.swo

# Compiled Java files
*.class
*.jar
*.war
*.ear

# data
data/*
!data/BUILD.bazel

# model output directory
model/

# python virtual environment and caches
.venv/
__pycache__/
*.pyc

# Ingestion config
training/fetch.cfg

# antigravity shenanigans
scratch/

# Private developer instructions
README-prv.md
