# Bazel directories
bazel-*

# Vim swap files
*.swp
*.swo
*~
.*.swp
.*.swo

# Compiled Java files
*.class
*.jar
*.war
*.ear

# data
data/*

# model output directory
model/

# python virtual environment and caches
.venv/
__pycache__/
*.pyc

# antigravity shenanigans
scratch/
