[Unit]
Description=Elm Spam Classification Server
After=network.target

[Service]
Type=simple
User=mail
Group=mail
ExecStart=/usr/share/elm/.venv/bin/python /usr/share/elm/server.py --socket /run/elm/elm.sock --onnx-path /usr/share/elm/model/model_quantized.onnx --classifier-path /usr/share/elm/model/spam_classifier.joblib
Restart=always
RestartSec=5

# Automates directory creation and permission management on socket directories
RuntimeDirectory=elm
RuntimeDirectoryMode=0775

[Install]
WantedBy=multi-user.target
